<html>
    <head>
        <script src="https://kit.fontawesome.com/ef539ea5a5.js"></script>
        <link rel="stylesheet" href="../bundles/neofireplentymarketsdebugger/administration/css/NeofirePlentymarketsDebugger.css">
    </head>
    <body class="error-iframe-body">
        <div class="error-iframe-content">
            {{ output | raw }}
        </div>
    </body>
</html>
